.round {
  position: absolute;
  border: 2px solid #000;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

#cta {
  cursor: pointer;
  position: absolute;
  top: -2px;
  text-align: center;
  margin: 0 auto;
  width: 20px !important;
  left: 0px;
}

/* #cta .arrow {
  left: 30%;
  top: 32%;
} */

.arrow {
  position: absolute;
  bottom: 0;
  margin-left: 0px;
  width: 12px;
  height: 12px;
  background-size: contain;
  top: 15px;
}

.owl-next .segunda {
  margin-left: 8px;
}
.owl-prev .segunda {
  margin-left: 8px;
}

.next {
  background-image: url('../images/next.svg');
}

.prev {
  background-image: url('../images/prev.svg');
}

@keyframes bounceAlpha_next {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }

  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }

  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }

  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.owl-next .bounceAlpha_next {
  animation-name: bounceAlpha_next;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.owl-next .arrow.primera.bounceAlpha_next {
  animation-name: bounceAlpha_next;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.owl-next .round:hover .arrow {
  animation-name: bounceAlpha_next;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.owl-next .round:hover .arrow.primera {
  animation-name: bounceAlpha_next;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes bounceAlpha_prev {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }

  25% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }

  26% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }

  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.owl-prev .bounceAlpha_prev {
  animation-name: bounceAlpha_prev;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.owl-prev .arrow.segunda.bounceAlpha_prev {
  animation-name: bounceAlpha_prev;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.owl-prev .round:hover .arrow {
  animation-name: bounceAlpha_prev;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.owl-prev .round:hover .arrow.segunda {
  animation-name: bounceAlpha_prev;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
