@font-face {
	font-family:'Avenir Black';
	src: url('../fonts/AvenirLT-Black.eot');
	src: url('../fonts/AvenirLT-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirLT-Black.woff2') format('woff2'),
		url('../fonts/AvenirLT-Black.woff') format('woff'),
		url('../fonts/AvenirLT-Black.ttf') format('truetype'),
		url('../fonts/AvenirLT-Black.svg#AvenirLT-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}
