#free-api-developer-access>div>div>div>div.section-title>p {
  color: #6084a4;
  line-height: 1.9;
}

.features-details-desc .accordion-item {
  text-align: left;
}

.features-details-desc .features-details-accordion .accordion {
  list-style-type: none;
  padding: 0;
  margin: 25px 0 0;
}

.features-details-desc .features-details-accordion .accordion .accordion-content {
  display: none;
  position: relative;
  padding: 15px 15px;
}

.features-details-desc .features-details-accordion .accordion .accordion-title {
  display: block;
  padding: 12px 20px 12px 51px;
  text-decoration: none;
  color: #0e314c;
  position: relative;
  border-bottom: 1px solid #ffffff;
  font-size: 15px;
  font-weight: 500;
}

.features-details-desc .features-details-accordion .accordion .accordion-title i {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  text-align: center;
  height: 100%;
  background: #DD1A19;
  color: #ffffff;
}

.features-details-desc .features-details-accordion .accordion .accordion-title.active i::before {
  content: "\f10f";
}

.features-details-desc .features-details-accordion .accordion .accordion-title.active {
  border-bottom-color: #e1e1e1;
}

.features-details-desc .features-details-accordion .accordion .accordion-title i::before {
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 15px;
}

.features-details-desc .features-details-accordion .accordion .accordion-content.show {
  display: block;
}

.jsonview .prop {
  color: #000;
}

.label-primary {
  background-color: #18D689;
}

.label {
  border-radius: .25em;
  color: #fff;
  display: inline;
  font-weight: 400;
  font-size: 75%;
  line-height: 1;
  padding: .3em .6em;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.http-method {
  margin-right: .2em;
}

.http-url {
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  word-break: break-all;
}

.json-wrapper {
  font-size: 13px;
  line-height: 1.5em;
  max-height: 300px;
  min-height: 100px;
  overflow-y: scroll;
  padding: 10px;
  position: relative;
  text-align: left;
}

.code-carousel {
  overflow: hidden;
}

.code-carousel .ba {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.code-carousel-inner {
  padding: 10px 0;
  transform: translate3d(0, 0, 0);
  white-space: nowrap;
}

.code-carousel-inner>* {
  position: relative;
  display: inline-block;
  margin-right: 100px;
  white-space: normal;
  vertical-align: top;
}

.code-carousel .section-title {
  margin: 20px 0;
}

.accordion-content .row:first-child {
  color: #999;
}

@media (max-width: 575px) {
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.code-carousel-inner>* {
  position: relative;
}

.pv2 .w-10.tc:last-child {
  position: absolute;
  top: 14px;
  right: -10px;
}

.pv2 .w-10.tc:first-child {
  position: absolute;
  top: 14px;
  left: -10px;
}

a, a:hover, a:visited, a:focus, button, button:focus {
  border: 0 none;
  text-decoration: none;
  outline: none;
  -moz-outline-style: none;
}

\.services-content .box {
  font-size: 12px;
}
