section {
  height: calc(100vh);
}

/* section#main-animation {
  display:table-cell; vertical-align:middle;
} */

section#free-api-developer-access {
  height: auto !important;
}

#analytics-solutions .owl-carousel .owl-nav.disabled {
  display: block !important;
}

.intelligence-block .inner-box .icon-box {
  position: relative;
  width: 118px;
  height: 114px;
  color: #ff6262;
  font-size: 58px;
  text-align: center;
  line-height: 114px;
  margin-bottom: 20px;
}

.intelligence-block .inner-box .icon-box:before {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: url(../images/icons/business-icon.png) no-repeat;
}

.intelligence-block .inner-box .icon-box img {
  width: auto;
  height: 54px;
  margin-top: -10px;
}

.intelligence-block .text p {
  line-height: 1.7em;
  font-weight: 400;
  font-size: 14px;
}
