@import url('avenir_black.css');
@import url('product_sans.css');
/*
	font-family: 'Product Sans' ; (+ font-weight: bold;)
	font-family: 'Avenir Black' ;
*/
@import url('bootstrap.min.css');
@import url('animate.css');
@import url('custom-animations.css');
@import url('loader.css');
@import url('owl.css');
@import url('svg.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.9.0/tachyons.min.css');
@import url('codecarousel.css');
@import url('flaticon.css');
@import url('arrows.css');
@import url('responsive.css');

/***
====================================================================
  Reset
====================================================================
***/
html {
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

/***
====================================================================
  Global Settings
====================================================================
***/
body {
  font-family: 'Product Sans';
  font-size: 14px;
  color: #1f2227;
  line-height: 1.7em;
  font-weight: 400;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir Black';
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.clearfix {
  clear: both;
}

section {
  height: auto;
  --title-color: #1f2227;
  --article-color: #000;
  --link-color: #E8471E;
  --link-hover: #DD1A19;
  padding: 4em 0 2em;
  position: relative;
  display: table;
  margin: 0 auto;
}

section .inner-vertical-centered {
  display: table-cell;
  vertical-align: middle;
}

section.auto-height {
  height: auto !important;
  margin-bottom: 40px;
}

.section__title {
  font-size: 1.65rem;
  font-weight: 800;
  line-height: 1.5;
  position: relative;
  margin-bottom: 1em;
  text-align: center;
}

.section__description {
  font-size: 1.32rem;
  line-height: 1.7;
  position: relative;
  margin-bottom: 1em;
  text-align: center;
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.rounded-colored{
  background: #90b1d373;
  border-radius: 10px;
  padding: 50px;
}

.heroheader {
  --tcontainer-padding-top: 13em;
  --tcontainer-padding-bottom: 5em;
  --pbottom: 120px;
  color: #fff;
  width: 100%;
  background-color: #2B2B2B;
  overflow: hidden;
}
.heroheader h2{
  line-height: 1;
  font-size: 1.389rem;
  font-weight: 700;
  margin: 0 0 .5em;
  text-transform: uppercase;
  display: inline-block;
}
.heroheader h1{
  line-height: 1.3;
  margin: 0;
  font-size: 2.2rem;
  font-weight: 800;
}
.heroheader p {
  line-height: 1.5;
  font-size: 1.5em;
}

section.heroheader>.auto-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;
  position: relative;
}

section.heroheader>.auto-container .text-container {
  position: relative;
  z-index: 5;
  padding-top: var(--tcontainer-padding-top);
  padding-bottom: var(--tcontainer-padding-bottom);
}

.heroheader .cover-image {
  position: absolute;
  top: calc(-1*var(--pbottom));
  right: -20%;
  bottom: calc(-1*var(--pbottom));
  margin: auto;
  opacity: .55
}
.heroheader .cover-image img{
  width: 820px;
  height: auto;
}

.theme-btn {
  display: inline-block;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.btn-style-three {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 30px;
  color: #ffffff;
  padding: 10px 44px 10px;
  overflow: hidden;
  background: none;
  border-radius: 50px;
  text-transform: capitalize;
  font-family: 'Product Sans';
  -webkit-box-shadow: 0 10px 30px rgba(255, 98, 98, 0.10);
  -moz-box-shadow: 0 10px 30px rgba(255, 98, 98, 0.10);
  -ms-box-shadow: 0 10px 30px rgba(255, 98, 98, 0.10);
  -o-box-shadow: 0 10px 30px rgba(255, 98, 98, 0.10);
  box-shadow: 0 10px 30px rgba(255, 98, 98, 0.10);
}

.btn-orange {
  background-color: #E8471E;
}

.btn-red {
  background-color: #DD1A19;
}

.btn-white {
  background-color: #FFFFFF;
  color: #343a40;
}

.btn-style-three:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #2b2b2b;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -moz-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -o-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
  transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

.btn-style-three:hover::before {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}

.btn-orange:hover::before {
  border: 20px solid #2B2B2B;
}

.btn-red:hover::before {
  border: 20px solid #2B2B2B;
}

.btn-style-three .txt {
  position: relative;
  z-index: 1;
}

.btn-style-three:hover {
  color: #ffffff;
}

/***
====================================================================
  Header + Navigation
====================================================================
***/
header {
  background-color: #2B2B2B;
  height: 70px;
  position: relative;
  top: 0;
  left: 0;
  width: calc(100vw);
  line-height: 50px;
  padding: 10px 0;
  z-index: 2;
}

body.transparent-header header{
  background-color: transparent;
  position: absolute;
}

a.logo {
  display: inline-block;
  height: 50px;
  width: auto;
}

.logo img {
  height: 50px;
}

nav ul {
  float: right;
}

nav ul, nav li {
  display: inline-block;
  line-height: 50px;
  vertical-align: top;
}

nav li {
  margin-right: 30px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: 'Product Sans';
  text-transform: uppercase;
  font-weight: bold;
  transition: all .35s ease;
}

nav a:hover {
  color: #E8471E;
}

.hero-text {
  position: absolute;
  z-index: 1;
  top: calc(23vh);
  width: calc(100vw);
  color: white;
}

.hero-text h1 {
  line-height: 1.3;
  font-size: 2.2rem;
}

.hero-text p {
  line-height: 1.5;
  font-size: 1.8em;
  max-width: 70vw;
  padding-bottom: 20px;
}

/***
====================================================================
  Navigation Menu
====================================================================
***/
nav ul.d-none {
  margin-bottom: 0;
}

.dropdown:hover>a {
  color: #E8471E;
}

.dropdown:after, .dropdown:before {
  content: normal !important;
  display: none !important;
}

.dropdown .dropdown-menu {
  position: absolute;
  left: 50%;
  margin-left: -180px;
  display: flex;
  padding-top: 0;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  width: 360px;
  overflow: visible;
  overflow: initial;
  transition: transform .35s ease, opacity .35s ease;
  transform: translateY(10px) translateZ(0);
  will-change: transform;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 5px 50px -10px rgba(0, 0, 0, .3);
}

li.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown .dropdown-menu:before {
  content: "";
  position: absolute;
  border: none;
  width: 100%;
  height: 12px;
  background: url(../images/nav-triangle.svg) 50% no-repeat;
  background-size: contain;
  top: -12px;
  left: 0;
}

.dropdown .dropdown-menu a {
  display: block !important;
  padding: 1em 0;
  text-align: center;
  margin-left: 0 !important;
  line-height: 1.5;
  transition: all .35s ease;
  position: relative;
  color: var(--dropdown-link-color) !important
}

.dropdown .dropdown-section {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.dropdown .dropdown-section:nth-child(2) {
  border-left: 1px solid #e0e0e0;
}

.dropdown .dropdown-section .section-title {
  font-weight: 800;
  font-size: .8em;
  color: #9b9b9b;
  padding: 1.5em 1em 0;
  line-height: normal;
  margin-bottom: .5em;
}

.dropdown .dropdown-section .menu {
  flex: 1;
  white-space: normal;
  width: 100%;
}

.dropdown .dropdown-section .menu a {
  text-align: left;
  padding: 1em 1em 0 1em;
}

.dropdown .dropdown-section .menu a:hover .title {
  color: #E8471E;
}

.dropdown .dropdown-section .menu a:before {
  content: normal;
}

.dropdown .dropdown-section .menu a .title {
  font-weight: 700;
  display: block;
  margin-bottom: .2em;
  color: #28384e;
  text-transform: none;
}

.dropdown .dropdown-section .menu a .sub-title {
  color: #000;
  font-weight: 400;
  font-size: .8em;
  text-transform: none;
}

body.sticky-header header {
  position: fixed;
  background-color: #2B2B2B;
}

body.sticky-header nav[role="mobile-navigation"] {
  position: fixed;
  z-index: 27;
}

/***
====================================================================
  Footer
====================================================================
***/
footer {
  padding: 27px 0;
  background-color: #2B2B2B;
  color: white;
}

footer a {
  color: #CCC;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

footer a:hover {
  color: #E8471E;
}

footer p {
  margin: 27px 0 0 0 !important;
}
