@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/ProductSans-Bold.eot');
    src: url('../fonts/ProductSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProductSans-Bold.woff2') format('woff2'),
        url('../fonts/ProductSans-Bold.woff') format('woff'),
        url('../fonts/ProductSans-Bold.ttf') format('truetype'),
        url('../fonts/ProductSans-Bold.svg#ProductSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/ProductSans-Regular.eot');
    src: url('../fonts/ProductSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProductSans-Regular.woff2') format('woff2'),
        url('../fonts/ProductSans-Regular.woff') format('woff'),
        url('../fonts/ProductSans-Regular.ttf') format('truetype'),
        url('../fonts/ProductSans-Regular.svg#ProductSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
