nav[role="mobile-navigation"] {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100vh);
}

#menuToggle {
  display: block;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
  -webkit-touch-callout: none;
}

#menu {
  position: absolute;
  width: calc(100vw);
  top: 0;
  text-align: left;
  padding-top: 125px;
  height: calc(100vh);
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: translate(0, -100vh);
  transform: translate(0, -100vh);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  z-index: 2;
}

#menuToggle strong {
  text-decoration: none;
  color: white;
  font-family: 'Product Sans';
  text-transform: uppercase;
  font-weight: bold;
  transition: all .35s ease;
}

#menuToggle a, #menuToggle strong {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  display: block;
  width: calc(100vw);
  padding: 0 15px;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle>span:nth-child(2) {
  margin-top: 20px !important;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-left: calc(100vw - 52px);
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 3;
  -webkit-transform-origin: 4px 0px;
  transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
  right: -10px;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
  transform: rotate(-45deg) translate(0, -1px);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  margin: 0 !important;
  border-bottom: 1px solid #CCC;
}

/* sub menus */
#menu>li>ul {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

#menu>li>ul a {
  font-size: 16px;
  line-height: 120%;
}

#menu>li>ul.opened {
  visibility: visible;
  height: auto;
  opacity: 1;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked~ul {
  -webkit-transform: none;
  transform: none;
  overflow-y: auto;
}

/* sm and xs */
@media (max-width: 991px) {
  .hero-text {
    position: relative;
    z-index: 1;
    top: 150px;
    width: calc(100vw);
    color: white;
  }

  section {
    height: auto !important;
  }
}

@media (min-width: 992px) {
  .targets {
    position: absolute;
    right: 0;
    top: -40%;
    font-size: 10px !important;
    width: 27%;
    padding-right: 30px;
  }

  .hero-text h2 {
    font-size: 19px !important;
  }
}

@media (min-width: 1200px) {
  .targets {
    position: absolute;
    right: 13%;
    top: -40%;
    font-size: 12px !important;
    width: 27%;
    padding-right: 30px;
  }

  .hero-text h2 {
    font-size: 27px !important;
  }
}

nav[role="mobile-navigation"] #menu strong {
  display: block;
  width: calc(100vw);
  padding: 0 15px;
  position: relative;
}

nav[role="mobile-navigation"] #menu strong::after {
  content: " ";
  position: absolute;
  right: 15px;
  top: 13px;
  background-image: url(../images/next.svg);
  background-size: cover;
  width: 17px;
  height: 20px;
  opacity: .5;
  transform: rotate(90deg);
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
nav[role="mobile-navigation"] #menu strong.opened { color: #E8471E; }
nav[role="mobile-navigation"] #menu strong.opened::after {
  transform: rotate(-90deg);
  top: 10px;
}


nav[role="mobile-navigation"] #menu div {
  font-size: 13px;
  line-height: 120%;
  padding: 0 15px;
  width: auto;
}

@media (max-width:769px) {
  .heroheader .cover-image {
		right: -35%;
		opacity: .2;
		top: -10%
	}
}
@media (min-width: 1290px){
  .heroheader .cover-image {
    right: 0;
    top: -25%;
  }
}
@media (min-width:2283.3px) {
	.heroheader .cover-image  {
		right: 0;
		bottom: -25%
	}
}
/* @media (min-width:2550px) {
	html {
		font-size: 110%
	}
	.container {
		max-width: 1600px
	}
} */
