.svg_box svg {
  width: 100%;
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #4A4A4A;
}

.st1 {
  fill: none;
  stroke: #4A4A4A;
  stroke-width: 3;
  stroke-linecap: round;
}

.st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #D8D9D8;
}

.st3 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #F2BC78;
}

.st4 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #27323D;
}

.st5 {
  fill: #F1A544;
}

.st6 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
}

.st7 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #F1A544;
}

.st8 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
  stroke: #4A4A4A;
  stroke-width: 4;
}

.st9 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
  stroke: #4A4A4A;
  stroke-width: 4;
  stroke-dasharray: 6, 3;
}

.st10 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
  stroke: #4A4A4A;
  stroke-width: 3;
}

.st11 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #F2DFC7;
  stroke: #F2BC78;
  stroke-width: 3;
}

.st12 {
  fill: none;
  stroke: #F2BC78;
  stroke-width: 3;
  stroke-linecap: square;
}

.st13 {
  fill: none;
  stroke: #4A4A4A;
  stroke-width: 3;
}

.st14 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
  stroke: #F1A544;
  stroke-width: 3;
}

.st15 {
  fill: none;
  stroke: #F2BC78;
  stroke-width: 2;
}

.st16 {
  fill: none;
  stroke: #F1A544;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-dasharray: 100, 104;
}

.st17 {
  fill: none;
  stroke: #F1A544;
  stroke-width: 3;
}

.st18 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #4A4A4A;
  stroke: #4A4A4A;
  stroke-width: 3;
}

.st19 {
  fill: none;
  stroke: #D8D9D8;
  stroke-width: 3;
}

.st20 {
  fill: none;
}

.st21 {
  filter: url(#Adobe_OpacityMaskFilter);
}

.st22 {
  mask: url(#mask-2_1_);
  fill: none;
  stroke: #4A4A4A;
  stroke-width: 3;
}

.st23 {
  fill: none;
  stroke: #F1A544;
  stroke-width: 2;
  stroke-linecap: round;
}

.st24 {
  fill: none;
  stroke: #F2BC78;
  stroke-width: 2;
  stroke-linecap: round;
}

.st25 {
  filter: url(#Adobe_OpacityMaskFilter_1_);
}

.st26 {
  mask: url(#mask-4_1_);
  fill: none;
  stroke: #4A4A4A;
  stroke-width: 3;
}

.st27 {
  fill: none;
  stroke: #4A4A4A;
  stroke-width: 2;
  stroke-linecap: round;
}

.st28 {
  fill: none;
  stroke: #D8D9D8;
  stroke-width: 2;
  stroke-linecap: round;
}

.st29 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #F1A544;
  stroke: #F1A544;
}

#blinking_btn_1 {
  -webkit-animation: blinking 1.6s ease infinite;
  animation: blinking 1.6s ease infinite;
}

#blinking_btn_2 {
  -webkit-animation: blinking--shifted 1.6s ease infinite;
  animation: blinking--shifted 1.6s ease infinite;
}

@-webkit-keyframes blinking {
  0% {
    opacity: 1;
  }

  92% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blinking {
  0% {
    opacity: 1;
  }

  92% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blinking--shifted {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blinking--shifted {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#round_chart {
  -webkit-animation: spinning 1.8s linear infinite;
  animation: spinning 1.8s linear infinite;
  -webkit-transform-origin: center;
  transform-origin: center;
}

_:-moz-tree-row(hover),
#round_chart {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 15.5px 14.5px 0px;
}

#rullo_line_1,
#rullo_line_2,
#rullo_line_3,
#rullo_line_4 {
  -webkit-animation: spinning 1.8s linear infinite;
  animation: spinning 1.8s linear infinite;
  -webkit-transform-origin: center;
  transform-origin: center;
}

_:-moz-tree-row(hover),
#rullo_line_1 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 52px 13px;
}

_:-moz-tree-row(hover),
#rullo_line_2 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 120px 13px 0px;
}

_:-moz-tree-row(hover),
#rullo_line_3 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 436px 13px 0px;
}

_:-moz-tree-row(hover),
#rullo_line_4 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 504px 13px 0px;
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

#machine_line {
  -webkit-animation: machine_line_moving 55s linear infinite;
  animation: machine_line_moving 55s linear infinite;
}

@-webkit-keyframes machine_line_moving {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -1200.8;
  }
}

@keyframes machine_line_moving {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -1200.8;
  }
}

#camino_top {
  -webkit-transition: .6s ease-out all;
  transition: .6s ease-out all;
}

.svg_box:hover #camino_top {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

#marker_1 {
  -webkit-animation: spin_marker_1 2.8s ease infinite;
  animation: spin_marker_1 2.8s ease infinite;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}

_:-moz-tree-row(hover),
#marker_1 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 12px 14px;
}

@-webkit-keyframes spin_marker_1 {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  50% {
    -webkit-transform: rotateZ(-50deg);
    transform: rotateZ(-50deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

@keyframes spin_marker_1 {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  50% {
    -webkit-transform: rotateZ(-50deg);
    transform: rotateZ(-50deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

#marker_2 {
  -webkit-animation: spin_marker_2 2.4s ease infinite;
  animation: spin_marker_2 2.4s ease infinite;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}

_:-moz-tree-row(hover),
#marker_2 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 12px 14px;
}

@-webkit-keyframes spin_marker_2 {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  30% {
    -webkit-transform: rotateZ(30deg);
    transform: rotateZ(30deg);
  }

  50% {
    -webkit-transform: rotateZ(-50deg);
    transform: rotateZ(-50deg);
  }

  70% {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

@keyframes spin_marker_2 {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  30% {
    -webkit-transform: rotateZ(30deg);
    transform: rotateZ(30deg);
  }

  50% {
    -webkit-transform: rotateZ(-50deg);
    transform: rotateZ(-50deg);
  }

  70% {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

#ranger_1 {
  -webkit-animation: sliding_1 2.8s ease infinite;
  animation: sliding_1 2.8s ease infinite;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@-webkit-keyframes sliding_1 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes sliding_1 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

#ranger_2 {
  -webkit-animation: sliding_2 3.8s ease infinite;
  animation: sliding_2 3.8s ease infinite;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@-webkit-keyframes sliding_2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px);
  }

  60% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes sliding_2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px);
  }

  60% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

#ranger_3 {
  -webkit-animation: sliding_3 4.8s ease infinite;
  animation: sliding_3 4.8s ease infinite;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@-webkit-keyframes sliding_3 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  10% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  20% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }

  30% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }

  40% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  50% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  60% {
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
  }

  70% {
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px);
  }

  80% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  90% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes sliding_3 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  10% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  20% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }

  30% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }

  40% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  50% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  60% {
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
  }

  70% {
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px);
  }

  80% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  90% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

#ranger_4 {
  -webkit-animation: sliding_4 1.2s ease infinite;
  animation: sliding_4 1.2s ease infinite;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@-webkit-keyframes sliding_4 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes sliding_4 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

#ranger_5 {
  -webkit-animation: sliding_5 2.8s ease infinite;
  animation: sliding_5 2.8s ease infinite;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@-webkit-keyframes sliding_5 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(13px);
    transform: translateY(13px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes sliding_5 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(13px);
    transform: translateY(13px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

#crazy_chart {
  -webkit-animation: crazy_chat_moving 999s ease infinite;
  animation: crazy_chat_moving 999s ease infinite;
}

@-webkit-keyframes crazy_chat_moving {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -99999;
  }
}

@keyframes crazy_chat_moving {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -99999;
  }
}

#rect_ranger_1_1 {
  -webkit-animation: rect_ranger_1_1_grow 9s ease infinite;
  animation: rect_ranger_1_1_grow 9s ease infinite;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

_:-moz-tree-row(hover),
#rect_ranger_1_1 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 0px 45px 0px;
}

@-webkit-keyframes rect_ranger_1_1_grow {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  50% {
    -webkit-transform: scaleY(1.9);
    transform: scaleY(1.9);
  }

  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
}

@keyframes rect_ranger_1_1_grow {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  50% {
    -webkit-transform: scaleY(1.9);
    transform: scaleY(1.9);
  }

  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
}

#rect_ranger_1_2 {
  -webkit-animation: rect_ranger_1_2_grow 7s ease infinite;
  animation: rect_ranger_1_2_grow 7s ease infinite;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

_:-moz-tree-row(hover),
#rect_ranger_1_2 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 0px 45px 0px;
}

@-webkit-keyframes rect_ranger_1_2_grow {
  0% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }

  50% {
    -webkit-transform: scaleY(1.3);
    transform: scaleY(1.3);
  }

  100% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
}

@keyframes rect_ranger_1_2_grow {
  0% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }

  50% {
    -webkit-transform: scaleY(1.3);
    transform: scaleY(1.3);
  }

  100% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
}

#rect_ranger_1_3 {
  -webkit-animation: rect_ranger_1_3_grow 9s ease infinite;
  animation: rect_ranger_1_3_grow 9s ease infinite;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

_:-moz-tree-row(hover),
#rect_ranger_1_3 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 0px 45px 0px;
}

@-webkit-keyframes rect_ranger_1_3_grow {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  50% {
    -webkit-transform: scaleY(1.9);
    transform: scaleY(1.9);
  }

  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
}

@keyframes rect_ranger_1_3_grow {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  50% {
    -webkit-transform: scaleY(1.9);
    transform: scaleY(1.9);
  }

  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
}

#rect_ranger_2_1 {
  -webkit-animation: rect_ranger_2_1_grow 4s ease infinite;
  animation: rect_ranger_2_1_grow 4s ease infinite;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

_:-moz-tree-row(hover),
#rect_ranger_2_1 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 0px 17.4px 0px;
}

@-webkit-keyframes rect_ranger_2_1_grow {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  50% {
    -webkit-transform: scaleY(1.9);
    transform: scaleY(1.9);
  }

  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
}

@keyframes rect_ranger_2_1_grow {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  50% {
    -webkit-transform: scaleY(1.9);
    transform: scaleY(1.9);
  }

  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
}

#rect_ranger_2_2 {
  -webkit-animation: rect_ranger_2_2_grow 6s ease infinite;
  animation: rect_ranger_2_2_grow 6s ease infinite;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

_:-moz-tree-row(hover),
#rect_ranger_2_2 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 0px 17.4px 0px;
}

@-webkit-keyframes rect_ranger_2_2_grow {
  0% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }

  50% {
    -webkit-transform: scaleY(1.3);
    transform: scaleY(1.3);
  }

  100% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
}

@keyframes rect_ranger_2_2_grow {
  0% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }

  50% {
    -webkit-transform: scaleY(1.3);
    transform: scaleY(1.3);
  }

  100% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
}

#rect_ranger_2_3 {
  -webkit-animation: rect_ranger_2_3_grow 9s ease infinite;
  animation: rect_ranger_2_3_grow 9s ease infinite;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

_:-moz-tree-row(hover),
#rect_ranger_2_3 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 0 19px;
}

@-webkit-keyframes rect_ranger_2_3_grow {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  50% {
    -webkit-transform: scaleY(1.2);
    transform: scaleY(1.2);
  }

  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
}

@keyframes rect_ranger_2_3_grow {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  50% {
    -webkit-transform: scaleY(1.2);
    transform: scaleY(1.2);
  }

  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
}

#shape_chart_1 {
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transition: .5s ease-out all;
  transition: .5s ease-out all;
}

_:-moz-tree-row(hover),
#shape_chart_1 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 0 17px;
}

.svg_box:hover #shape_chart_1 {
  -webkit-transform: scaleY(1.6);
  transform: scaleY(1.6);
}

#shape_chart_2 {
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transition: .5s .2s ease-out all;
  transition: .5s .2s ease-out all;
}

_:-moz-tree-row(hover),
#shape_chart_2 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 0 45px;
}

.svg_box:hover #shape_chart_2 {
  -webkit-transform: scaleY(1.6);
  transform: scaleY(1.6);
}

#box {
  -webkit-animation: flowing_box 10s 3s linear infinite;
  animation: flowing_box 10s 3s linear infinite;
}

#box_2 {
  -webkit-animation: flowing_box 10s 8s linear infinite;
  animation: flowing_box 10s 8s linear infinite;
}

@-webkit-keyframes flowing_box {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  80% {
    opacity: 1;
  }

  99% {
    opacity: 0;
    -webkit-transform: translateX(220px);
    transform: translateX(220px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes flowing_box {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  80% {
    opacity: 1;
  }

  99% {
    opacity: 0;
    -webkit-transform: translateX(220px);
    transform: translateX(220px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

#box_closer_2 {
  -webkit-animation: box_close_2 10s 3s ease-out infinite;
  animation: box_close_2 10s 3s ease-out infinite;
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}

_:-moz-tree-row(hover),
#box_closer_2 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 80px 25px;
}

@-webkit-keyframes box_close_2 {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  75% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  85% {
    -webkit-transform: rotateZ(-40deg);
    transform: rotateZ(-40deg);
  }

  99% {
    -webkit-transform: rotateZ(-40deg);
    transform: rotateZ(-40deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

@keyframes box_close_2 {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  75% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  85% {
    -webkit-transform: rotateZ(-40deg);
    transform: rotateZ(-40deg);
  }

  99% {
    -webkit-transform: rotateZ(-40deg);
    transform: rotateZ(-40deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

#box_closer_2_2 {
  -webkit-animation: box_close_2_2 10s 8s ease infinite;
  animation: box_close_2_2 10s 8s ease infinite;
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}

_:-moz-tree-row(hover),
#box_closer_2_2 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 80px 25px;
}

@-webkit-keyframes box_close_2_2 {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  65% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  85% {
    -webkit-transform: rotateZ(-43deg);
    transform: rotateZ(-43deg);
  }

  99% {
    -webkit-transform: rotateZ(-43deg);
    transform: rotateZ(-43deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

@keyframes box_close_2_2 {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  65% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  85% {
    -webkit-transform: rotateZ(-43deg);
    transform: rotateZ(-43deg);
  }

  99% {
    -webkit-transform: rotateZ(-43deg);
    transform: rotateZ(-43deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

#box_closer_1 {
  -webkit-animation: box_close_1 10s 3s ease-out infinite;
  animation: box_close_1 10s 3s ease-out infinite;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

_:-moz-tree-row(hover),
#box_closer_1 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 3px 25px;
}

@-webkit-keyframes box_close_1 {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  68% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  85% {
    -webkit-transform: rotateZ(34deg);
    transform: rotateZ(34deg);
  }

  99% {
    -webkit-transform: rotateZ(34deg);
    transform: rotateZ(34deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

@keyframes box_close_1 {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  68% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  85% {
    -webkit-transform: rotateZ(34deg);
    transform: rotateZ(34deg);
  }

  99% {
    -webkit-transform: rotateZ(34deg);
    transform: rotateZ(34deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

#box_closer_2_1 {
  -webkit-animation: box_close_2_1 10s 8s ease infinite;
  animation: box_close_2_1 10s 8s ease infinite;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

_:-moz-tree-row(hover),
#box_closer_2_1 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 3px 25px;
}

@-webkit-keyframes box_close_2_1 {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  60% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  85% {
    -webkit-transform: rotateZ(36deg);
    transform: rotateZ(36deg);
  }

  99% {
    -webkit-transform: rotateZ(36deg);
    transform: rotateZ(36deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

@keyframes box_close_2_1 {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  60% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  85% {
    -webkit-transform: rotateZ(36deg);
    transform: rotateZ(36deg);
  }

  99% {
    -webkit-transform: rotateZ(36deg);
    transform: rotateZ(36deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

#doc_2 {
  opacity: 0;
  -webkit-animation: doc_2_moving 10s 5s linear infinite;
  animation: doc_2_moving 10s 5s linear infinite;
}

_:-moz-tree-row(hover),
#doc_2 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 19px 121px;
}

@-webkit-keyframes doc_2_moving {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(-3px);
    transform: translateX(0) translateY(-3px);
  }

  50% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(-3px);
    transform: translateX(0) translateY(-3px);
  }

  55% {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  90% {
    opacity: 1;
    -webkit-transform: translateX(100px) translateY(0);
    transform: translateX(100px) translateY(0);
  }

  91% {
    opacity: 0;
    -webkit-transform: translateX(100px) translateY(0);
    transform: translateX(100px) translateY(0);
  }

  98% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(-3px);
    transform: translateX(0) translateY(-3px);
  }
}

@keyframes doc_2_moving {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(-3px);
    transform: translateX(0) translateY(-3px);
  }

  50% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(-3px);
    transform: translateX(0) translateY(-3px);
  }

  55% {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  90% {
    opacity: 1;
    -webkit-transform: translateX(100px) translateY(0);
    transform: translateX(100px) translateY(0);
  }

  91% {
    opacity: 0;
    -webkit-transform: translateX(100px) translateY(0);
    transform: translateX(100px) translateY(0);
  }

  98% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(-3px);
    transform: translateX(0) translateY(-3px);
  }
}

#doc_3 {
  opacity: 0;
  -webkit-animation: doc_3_moving 5s 2.3s linear infinite;
  animation: doc_3_moving 5s 2.3s linear infinite;
}

_:-moz-tree-row(hover),
#doc_3 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 9px 41px 0px;
}

@-webkit-keyframes doc_3_moving {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }

  10% {
    opacity: 1;
    -webkit-transform: translateY(-5px) translateX(-3px);
    transform: translateY(-5px) translateX(-3px);
  }

  97% {
    opacity: 1;
    -webkit-transform: translateY(156px) translateX(100px) rotateZ(-31deg);
    transform: translateY(156px) translateX(100px) rotateZ(-31deg);
  }

  98% {
    opacity: 0;
    -webkit-transform: translateY(156px) translateX(100px) rotateZ(-31deg);
    transform: translateY(156px) translateX(100px) rotateZ(-31deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0) translateX(0) rotateZ(0);
    transform: translateY(0) translateX(0) rotateZ(0);
  }
}

@keyframes doc_3_moving {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }

  10% {
    opacity: 1;
    -webkit-transform: translateY(-5px) translateX(-3px);
    transform: translateY(-5px) translateX(-3px);
  }

  97% {
    opacity: 1;
    -webkit-transform: translateY(156px) translateX(100px) rotateZ(-31deg);
    transform: translateY(156px) translateX(100px) rotateZ(-31deg);
  }

  98% {
    opacity: 0;
    -webkit-transform: translateY(156px) translateX(100px) rotateZ(-31deg);
    transform: translateY(156px) translateX(100px) rotateZ(-31deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0) translateX(0) rotateZ(0);
    transform: translateY(0) translateX(0) rotateZ(0);
  }
}

#doc {
  opacity: 0;
  -webkit-animation: doc_moving 10s linear infinite;
  animation: doc_moving 10s linear infinite;
  -webkit-transform-origin: center;
  transform-origin: center;
}

_:-moz-tree-row(hover),
#doc {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: 42px 121px;
}

@-webkit-keyframes doc_moving {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5px) translateX(0);
    transform: translateY(-5px) translateX(0);
  }

  10% {
    opacity: 1;
    -webkit-transform: translateY(8px) translateX(0) rotateZ(19deg);
    transform: translateY(8px) translateX(0) rotateZ(19deg);
  }

  97% {
    opacity: 1;
    -webkit-transform: translateY(8px) translateX(195.51px) rotateZ(19deg);
    transform: translateY(8px) translateX(195.51px) rotateZ(19deg);
  }

  98% {
    opacity: 0;
    -webkit-transform: translateY(8px) translateX(195.51px) rotateZ(19deg);
    transform: translateY(8px) translateX(195.51px) rotateZ(19deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0) translateX(0) rotateZ(0);
    transform: translateY(0) translateX(0) rotateZ(0);
  }
}

@keyframes doc_moving {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5px) translateX(0);
    transform: translateY(-5px) translateX(0);
  }

  10% {
    opacity: 1;
    -webkit-transform: translateY(8px) translateX(0) rotateZ(19deg);
    transform: translateY(8px) translateX(0) rotateZ(19deg);
  }

  97% {
    opacity: 1;
    -webkit-transform: translateY(8px) translateX(195.51px) rotateZ(19deg);
    transform: translateY(8px) translateX(195.51px) rotateZ(19deg);
  }

  98% {
    opacity: 0;
    -webkit-transform: translateY(8px) translateX(195.51px) rotateZ(19deg);
    transform: translateY(8px) translateX(195.51px) rotateZ(19deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0) translateX(0) rotateZ(0);
    transform: translateY(0) translateX(0) rotateZ(0);
  }
}

#doc_4 {
  opacity: 0;
  -webkit-animation: doc_4_moving 10s 1.5s linear infinite;
  animation: doc_4_moving 10s 1.5s linear infinite;
}

_:-moz-tree-row(hover),
#doc_4 {
  /*a wise solution is to use GSAP to set the property in Firefox, but it's CSS only project*/
  transform-origin: -121px 31px 0px;
}

@-webkit-keyframes doc_4_moving {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }

  10% {
    opacity: 1;
    -webkit-transform: translateY(-4px) translateX(-5px) rotateZ(0);
    transform: translateY(-4px) translateX(-5px) rotateZ(0);
  }

  97% {
    opacity: 1;
    -webkit-transform: translateY(100px) translateX(240px) rotateZ(21deg);
    transform: translateY(100px) translateX(240px) rotateZ(21deg);
  }

  98% {
    opacity: 0;
    -webkit-transform: translateY(100px) translateX(240px) rotateZ(21deg);
    transform: translateY(100px) translateX(240px) rotateZ(21deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0) translateX(0) rotateZ(0);
    transform: translateY(0) translateX(0) rotateZ(0);
  }
}

@keyframes doc_4_moving {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }

  10% {
    opacity: 1;
    -webkit-transform: translateY(-4px) translateX(-5px) rotateZ(0);
    transform: translateY(-4px) translateX(-5px) rotateZ(0);
  }

  97% {
    opacity: 1;
    -webkit-transform: translateY(100px) translateX(240px) rotateZ(21deg);
    transform: translateY(100px) translateX(240px) rotateZ(21deg);
  }

  98% {
    opacity: 0;
    -webkit-transform: translateY(100px) translateX(240px) rotateZ(21deg);
    transform: translateY(100px) translateX(240px) rotateZ(21deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0) translateX(0) rotateZ(0);
    transform: translateY(0) translateX(0) rotateZ(0);
  }
}
